/*background-image: url("../assets/rieiro-arbol.jpg");*/
    /*background-image: url("https://farm1.staticflickr.com/603/20090715304_24593b813c_k.jpg");*/
/*object-fit: scale-down;*/

* {
	margin:0;
	padding:0;
	font-family: 'Quicksand', sans-serif;
	scroll-behavior: smooth;
}

.portada-wrapper{
	margin 0px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10vh 90vh;
    background-image: url("../assets/barreiros-playa.jpg");
    background-position: center;
    color: white;
}

/**
*  MENUS
*/

.nav-menu li{
	padding: 5px 10px 5px 10px;
}

nav a{
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
}

.nav-dropdown{
	display:block;
}

.nav-menu{
	justify-self:end;
	position:fixed;
	background-color: black;
	visibility: hidden;
	padding: 0.2rem 1.5rem 0.2rem 1.5rem;
}

.main-title{
	text-align: center;
	color: white;
	align-self: center;
	font-family: 'Quicksand', sans-serif;
	font-size:2rem;
	font-weight: bold;
	grid-row:2;
}



.content-wrapper{
	display: flex;
	justify-content: center;

}

.nav-left{
	position: fixed;
	/* display: block; */
	margin: 0rem;
	width: 15%;
	/* position: fixed; */
	top: 0px;
	left: 0px;
	background-color: black;
	color: white;
	padding: 0px 0px 0px 10px;
	height: 100vh;
}

.nav-left li{
	padding: 5px 10px 5px 10px;
}

.content-left{
	margin: 1rem;
	width: 25%;
}

.content-rigth{
	margin: 1rem;
	width: 35%;
}

.content-center{
	width: 50%;
	margin: 1rem;
}

.unit{
	background-color: rgba(214, 234, 235, 0.63);
	margin:0.5rem;
	padding: 1rem;
	border-radius: 25px;
}

ul{
	list-style: none;
}

.title-centered{
	text-align: center;
	color: gray;
	font-family: 'Fjalla One', sans-serif;
}

.title-left{
	color: gray;
	font-family: 'Fjalla One', sans-serif;
}

article img{
	float: left;
	width: 20%;
	height: 20%;
	margin: 0px 5px 5px 0px;
}

video, iframe{
	margin-top:1rem;
	margin-bottom: 1rem;
	width: 100%;
}


/**
* FOOTER
**/

.footer{
	background-color: grey;
	padding:30px;
	text-align: center;
}

.footer-nav li{
	display:inline-block;
	padding:0px 8px 0px 8px;
}

li img{
	width: 40px;
	height: 40px;
}

li svg{
	width: 40px;
	height: 40px;
}

/**
*  MEDIA QUERIES
**/

@media (min-width: 768px){
	.mobile{
		display: none;
	}
}

@media (max-width: 768px){
	.tablet{
		display: none;
	}
	.nav-menu{
		visibility: visible;
		width: 100vw;
	}

	.content-wrapper{
		display: block;
		justify-content: center;
	
	}
	.content-center{
		width: 100%;
		margin: 0rem;
	}

	.content-rigth{
		width: 100%;
		margin: 0rem;
	}

}



